In [33]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [6]:
otlet_guide = pd.read_excel('ООО_Внимание_к_деталям.xlsx', sheet_name='Справочник точек')
revenue = pd.read_excel('ООО_Внимание_к_деталям.xlsx', sheet_name='Выручка по обучающей выборке')

In [7]:
pd.set_option('display.max_columns', None)
otlet_guide[:3]

,id точки,Адрес,Широта,Долгота,Дата открытия,Дата закрытия,Площадь магазина,Тип входа,Площадь ТЦ,Формат магазина,Парковка,Этаж,Время работы,Заполненность ТЦ,Рядом с эскалатором,Рядом со входом,Конкуренты в ТЦ,Расположение в ТЦ,Толока,Люкс,Выборка
0,8955.0,"Оренбургская обл, Оренбург г, Шарлыкское ш, д...",55.118272,51.843127,2016-11-09 00:00:00,NaT,478,без сквозного прохода,130000.0,ТЦ,бесплатная парковка,3,с 10:00 до 22:00,NaN,0,0,1.0,7.0,37.857582,69.500000,Обучающая
1,11007.0,"Алтайский край, г. Барнаул, ул. Малахова, дом ...",83.696799,53.356954,2010-04-26 00:00:00,NaT,332,сквозной проход,31500.0,ТЦ,бесплатная парковка,1,с 10:00 до 22:00,NaN,0,1,NaN,9.0,57.810494,66.896552,Обучающая
2,11366.0,"Амурская область, Благовещенск, улица Мухина, 114",127.510357,50.280435,2017-08-25 00:00:00,NaT,356,без сквозного прохода,36000.0,ТЦ,бесплатная парковка,1,с 10:00 до 22:00,3.0,0,1,1.0,6.0,49.959831,68.727273,Обучающая

In [8]:
revenue[:3]

,id точки,2015-01-01,2015-02-01,2015-03-01,2015-04-01,2015-05-01,2015-06-01,2015-07-01,2015-08-01,2015-09-01,2015-10-01,2015-11-01,2015-12-01,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01,2017-01-01,2017-02-01,2017-03-01,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,2017-11-01,2017-12-01,2018-01-01,2018-02-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01
0,11366.0,245709.342667,301024.685000,406199.782258,295602.853000,268179.172258,266579.009667,202667.039355,207347.022581,237393.216667,241379.907097,277634.903,564252.750058,219926.676667,282913.602759,358303.605484,248019.559667,284416.625161,279647.095000,230446.638710,239083.566129,266376.83800,295779.765806,295160.623333,576854.049913,246028.328,325148.5575,381619.331935,264177.853333,264828.376129,261388.946000,229254.303871,229923.829032,277630.413667,254468.495806,302233.295000,511479.269181,271084.023513,298845.267500,277776.347333,270902.919677,280106.099000,243448.836129,236709.816452,248268.778333,296637.103226,314456.870000
1,11810.0,270245.842066,297964.820199,406198.175918,232433.263996,229317.708387,251403.308057,242000.555806,260407.109247,267051.162996,271966.447996,298703.818988,563890.720994,246497.576,331011.704483,414184.486448,258794.296,254278.534839,269684.633996,263583.246774,286720.062581,260873.77459,303189.881617,270547.55977,519262.672254,230499.13,300081.298929,406034.903226,233042.565000,230639.244194,291033.334000,243116.284839,268259.190968,270041.867000,239370.458710,266096.396000,480597.426252,245402.383180,273515.012143,240088.292000,196260.466452,228920.589000,204058.825161,207104.013135,203499.409840,206013.017419,218636.436000
2,15041.0,171972.976000,198141.440000,260215.741935,205316.010644,187059.870968,198590.970667,178250.637781,187094.699355,211000.005517,209154.689032,218994.085707,419434.29089,179593.269333,244073.644138,285598.193548,221318.346667,225292.696774,203248.794483,187544.361290,208146.327742,217143.02400,205033.089032,192618.048,347437.729755,173401.76,212483.68,242260.629333,176631.728000,193740.634839,180167.045333,167628.593548,164701.130323,186035.210667,161494.144000,176703.594667,296704.116800,174154.623627,173190.240000,240396.837333,241494.616774,264873.765333,227461.233548,249503.230968,251805.680000,263152.960000,269913.018667

## Сколько магазинов формата стрит в тестовой выборке?

Можем видеть, что столбцы Выборка и Формат магазина содержат текстовые данные, которые судя по всему набирали вручную. В данных есть опечатки, поэтому сложно профильтровать их по определенному значению  <br>
Для ответа на вопрос выберем все похожие на нужные нам значения

In [10]:
otlet_guide['Формат магазина'].value_counts()

ТЦ         191
Мини ТЦ     28
Street      18
Стрит        4
Мини-ТЦ      3
Strееt       1
Стрт         1
Name: Формат магазина, dtype: int64

In [11]:
otlet_guide['Выборка'].value_counts()

Обучающая    156
Тестовая      77
-             10
Обyчающая      1
Тест           1
Name: Выборка, dtype: int64

Сначала выделим всю тестовую выборку, а потом в ней оставим только формата стрит

In [16]:
test = otlet_guide[otlet_guide['Выборка'].isin(['Тестовая', 'Тест'])]

Здесь уже видим, что подходящих под стрит - 7

In [17]:
test['Формат магазина'].value_counts()

ТЦ         64
Мини ТЦ     6
Street      3
Стрит       3
Strееt      1
Мини-ТЦ     1
Name: Формат магазина, dtype: int64

In [22]:
street_test = test[test['Формат магазина'].isin(['Street', 'Стрит', 'Strееt'])]
print('В тестовой выборке ' + str(len(street_test)) + ' магазинов формата стрит')

В тестовой выборке 7 магазинов формата стрит

## Какова средняя выручка магазинов формата мини ТЦ за 2016 год?

In [71]:
mini_tc = otlet_guide[otlet_guide['Формат магазина'].isin(['Мини ТЦ', 'Мини-ТЦ'])]

Уберем Nan значения в id, так как их нельзя объединить с другой таблицей

In [75]:
mini_tc_ids = mini_tc['id точки'].dropna()

In [42]:
# выбираем столбцы за 2016 год
cols_2016 = [i for i in revenue.columns if i.startswith('2016')]

Посмотрим на таблицу выручки, в ней видим, что есть пустые значения, уберем те, где вообще нет данных

In [84]:
revenue_mini_tc = revenue[revenue['id точки'].isin(mini_tc_ids)][cols_2016]
revenue_mini_tc

,2016-01-01,2016-02-01,2016-03-01,2016-04-01,2016-05-01,2016-06-01,2016-07-01,2016-08-01,2016-09-01,2016-10-01,2016-11-01,2016-12-01
11,367034.64,518191.52,612575.473548,462814.8,477767.72129,451050.096000,401384.010323,383641.476129,422102.426667,422386.720000,405809.077707,856554.5744
14,288251.64,380476.893103,409749.793548,335297.01,341503.345161,310039.590000,273176.738710,293777.854839,343191.180000,338595.300000,311294.64,588298.821097
23,96125.46,131703.051724,166441.23871,103033.83,109410.63,107573.640000,98078.632258,115117.374194,104382.240000,132300.493548,102602.67,228666.224032
42,618664.28442,778685.648276,948356.72129,610125.39,648604.550319,628196.226000,541807.499032,548504.053548,589191.498000,637511.713548,627179.86758,1422015.153503
56,157156.285333,219535.906897,263464.079355,180751.274,174377.539355,200850.477333,172807.401290,181212.264516,182401.356000,210517.014194,161834.140093,288096.281471
61,165361.765333,183196.816166,234128.893793,181151.861333,166158.575484,173533.509333,162844.341333,169838.714839,173049.632000,200700.714667,179830.29904,296884.380439
66,262235.282759,341500.413793,413340.774194,278217.413333,253406.967742,291884.933333,245933.264516,220819.148387,268867.520000,274188.619355,257091.973867,560730.918968
79,79599.658667,99675.188966,129198.823226,83833.026207,90507.767742,143539.242667,204567.081290,239827.447742,194232.533333,130127.483871,89366.954667,179 944.79
80,545935.13931,646203.233103,769325.914426,567838.250667,554051.427097,655431.680000,596274.787097,670410.405161,650349.909333,694186.157419,614323.370667,1151109.860335
83,252934.439333,315365.363793,396360.040323,268140.630333,244010.423548,254807.249667,268337.013226,266149.490645,292829.203333,298976.948065,263109.089577,478168.718006
84,432084.77433,561409.609655,669310.098387,487761.416997,485661.457742,456049.373670,392559.430645,430120.350000,469779.123000,492347.534516,488088.280677,966823.179939
87,221053.099355,236999.453793,294685.765161,186388.645333,188042.580645,227255.242667,228655.803871,246902.518710,184107.914667,239920.185806,220086.60912,433696.697858
92,247509.406897,341837.668966,403892.03871,268721.163333,263977.36129,274547.460000,272024.925806,258007.483871,274683.676667,312697.887097,289971.88,558147.665226
97,288339.827586,373763.172414,424793.516129,247102.166667,268194.83871,288479.900000,269497.774194,282031.645161,268095.833333,283937.000000,281229.467333,537106.161613
99,208697.489333,268136.578621,331250.030323,218518.301333,207277.721935,222148.099667,232665.450968,236915.669677,211914.458667,254999.308667,230982.218513,420625.293897
106,256810.443548,299840.905172,424251.653226,269642.625,262584.83871,274678.625000,252030.887097,319404.879032,344379.250000,402658.104839,377204.91625,776855.566532
121,112845.751333,122103.392759,169540.163871,94366.555667,100353.6,106509.617333,106632.150968,108016.763226,103707.372333,121351.532581,112168.614003,293144.517742
127,NaN,NaN,NaN,NaN,NaN,NaN,475542.757882,255120.270964,227869.800000,304069.354839,292810.4796,471397.935097
134,NaN,0,0,0,0,0.000000,0.000000,313307.100000,561332.864000,710535.174194,719798.1604,1527870.618581
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
revenue_mini_tc = revenue_mini_tc.dropna(axis=0, how='all')

In [103]:
print('Средняя выручка магазинов формата мини ТЦ за 2016 год составляет ' + str(round(revenue_mini_tc.mean(axis=1).mean(),2)))

Средняя выручка магазинов формата мини ТЦ за 2016 год составляет 299417.32

## Сколько магазинов с бесплатной парковкой?

In [104]:
otlet_guide['Парковка'].value_counts()

бесплатная парковка    156
нет парковки            34
платная парковка        31
100                      2
1000                     1
бесплатная паpковка      1
700                      1
Name: Парковка, dtype: int64

In [106]:
free_parking = otlet_guide[otlet_guide['Парковка'].isin(['бесплатная парковка','бесплатная паpковка'])]

In [107]:
print('Магазинов с бесплатной парковкой ' + str(len(free_parking)))

Магазинов с бесплатной парковкой 157

## Вопросы к данным

К данным возникло достаточно много замечаний: <br>
1. Столбец "id точки" не должен быть пустой, так как в таких данных нет пользы, нельзя сопоставить информацию о точке и ее прибыль, не имея уникального id     <br>
2.Столбцы с текстовыми данными (это "Парковка", "Выборка", "Формат магазина") содержат ошибки, из-за чего количество уникальных записей увеличивается, их сложно фильтровать и впоследствии с ними будет тяжело работать, особенно если следующая выгрузка будет содержать новые ошибочные значения. Для того, чтобы это исправить, можно ввести для этих столбцов определенный перечень значений, из которых можно выбрать нужный. <br>
3. В столбце "Дата открытия" есть пара сомнительных дат - 1899 год и 2098 год, хотелось бы узнать, из-за чего возникли такие данные и можно ли им доверять <br>
4. В столбце "Парковка" есть не только тектовые значения, но и числовые, что сбивает с толку. Хотелось бы знать, что они значат, и желательно привести этот столбец к единому формату - это либо числовые значения, либо текстовые <br>
5. Также в столбце "Этаж" обнаружены подозрительные значения. Там присутствует дата, которая, вероятно, случайно там оказалась, и ее нужно заменить на верное значение. Также есть значение 4,5, что к этажу не имеет отношения, его также стоит заменить. Также вместо текстового названия "цоколь" хотелось бы видеть численное значение для предотвращения ошибок. <br>
6. Хотелось бы знать, что означает столбец "Заполненность ТЦ" и главное, каким образом он считается. То же самое касается столбцов "Толока" и "Люкс". Также хочется узнать, как расчитываются столбцы "Рядом с эскалатором", "Рядом со входом", "Конкуренты в ТЦ" и "Расположение в ТЦ".