In [1]:
import pandas as pd

Здесь я скопировала метрики, которые выдала модель после обучения

In [78]:
diction = {
    'body':[ 671,1636,0.819,0.624,0.707,0.449], 'bus' :[671,43,0.553,0.419,0.561,0.392],
    'car':[671,1183,0.782,0.753,0.817,0.561], 'face':[671,530,0.752,0.774,0.822,0.495],
    'head':[671,1111,0.889,0.783,0.838,0.56], 'motorcycle':[671,97,0.925,0.768,0.848,0.525],
    'plate':[671,409,0.793,0.597,0.628,0.368], 'truck':[671,65,0.581,0.231,0.271,0.171]}

In [79]:
small_df = pd.DataFrame(diction, index =['Images','Labels','Presicion','Recall','mAP@.5','mAP@.5:.95:']).T
small_df['Class'] = small_df.index

In [80]:
diction = {
    'body':[ 2690,6583,0.89,0.704,0.799,0.558],'face':[2690,2526,0.925,0.791,0.851,0.542],
    'bus' :[2690,194,0.825,0.56,0.651,0.493],'car':[2690,4272,0.88,0.779,0.855,0.644], 
    'head':[2690,5087,0.936,0.806,0.872,0.625], 'motorcycle':[2690,432,0.936,0.775,0.839,0.589],
    'plate':[2690,1560,0.914,0.697,0.763,0.505], 'truck':[2690,216,0.71,0.454,0.554,0.395]}

In [81]:
large_df = pd.DataFrame(diction, index =['Images','Labels','Presicion','Recall','mAP@.5','mAP@.5:.95:']).T
large_df['Class'] = large_df.index

In [82]:
large_df

            Images  Labels  Presicion  Recall  mAP@.5  mAP@.5:.95:       Class
body        2690.0  6583.0      0.890   0.704   0.799        0.558        body
face        2690.0  2526.0      0.925   0.791   0.851        0.542        face
bus         2690.0   194.0      0.825   0.560   0.651        0.493         bus
car         2690.0  4272.0      0.880   0.779   0.855        0.644         car
head        2690.0  5087.0      0.936   0.806   0.872        0.625        head
motorcycle  2690.0   432.0      0.936   0.775   0.839        0.589  motorcycle
plate       2690.0  1560.0      0.914   0.697   0.763        0.505       plate
truck       2690.0   216.0      0.710   0.454   0.554        0.395       truck

In [83]:
small_df

            Images  Labels  Presicion  Recall  mAP@.5  mAP@.5:.95:       Class
body         671.0  1636.0      0.819   0.624   0.707        0.449        body
bus          671.0    43.0      0.553   0.419   0.561        0.392         bus
car          671.0  1183.0      0.782   0.753   0.817        0.561         car
face         671.0   530.0      0.752   0.774   0.822        0.495        face
head         671.0  1111.0      0.889   0.783   0.838        0.560        head
motorcycle   671.0    97.0      0.925   0.768   0.848        0.525  motorcycle
plate        671.0   409.0      0.793   0.597   0.628        0.368       plate
truck        671.0    65.0      0.581   0.231   0.271        0.171       truck

Сама функция и результат работы:

In [86]:
def metrics_change(small_df,large_df):
    small_df = small_df.sort_values(by=['Class']) #сортируем строки, чтобы все считалось корректно
    large_df = large_df.sort_values(by=['Class'])
    
    presicion_growth = round((large_df['Presicion'] - small_df['Presicion']).mean(),3)
    presicion_proc = round(abs(((large_df['Presicion'] - small_df['Presicion'])/large_df['Presicion']).mean()*100),1)
    print('Presicion score вырос на ' + str(presicion_growth) + ' (это ' + str(presicion_proc) + ' %)')
    
    recall_growth = round((large_df['Recall'] - small_df['Recall']).mean(),3)
    recall_proc = round(abs(((large_df['Recall'] - small_df['Recall'])/large_df['Recall']).mean()*100),1)
    print('Recall score вырос на ' + str(recall_growth) + ' (это ' + str(recall_proc) + ' %)')
    
    map5_growth = round((large_df['mAP@.5'] - small_df['mAP@.5']).mean(),3)
    map5_proc = round(abs(((large_df['mAP@.5'] - small_df['mAP@.5'])/large_df['mAP@.5']).mean()*100),1)
    print('mAP@.5 score вырос на ' + str(map5_growth) + ' (это ' + str(map5_proc) + ' %)')
    
    map95_growth = round((large_df['mAP@.5:.95:'] - small_df['mAP@.5:.95:']).mean(),3)
    map95_proc = round(abs(((large_df['mAP@.5:.95:'] - small_df['mAP@.5:.95:'])/large_df['mAP@.5:.95:']).mean()*100),1)
    print('mAP@.5:.95: score вырос на ' + str(map95_growth) + ' (это ' + str(map95_proc) + ' %)')

In [87]:
metrics_change(small_df,large_df)

Presicion score вырос на 0.115 (это 13.5 %)
Recall score вырос на 0.077 (это 13.7 %)
mAP@.5 score вырос на 0.087 (это 13.1 %)
mAP@.5:.95: score вырос на 0.104 (это 20.8 %)